ion-avatar {
  width: 16% !important;
  height: auto !important;
  border-radius: 10px !important;
}
.mb0 {
  margin-bottom: 0px;
}
img {
  // border-radius: 10px;
  border-radius: 50px;
  height: 60px;
  width: 60px;
}
ion-img {
  border-radius: 10px;
}

.username {
  color: #f05e00;
  font-size: 13px;
}
